body {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.col-lg-10, .col-md-10 {
padding: 0px;
}
.centered {
    text-align: center;
}

#header {
    background: url("Image/Picture_1.jpg") no-repeat center top;
    background-position: center center;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 500px;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#petrash {
    background: url("Image/Petrash.jpg") no-repeat center top;
    background-position: center center;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 500px;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#image2 {
    background: url("Image/Picture_2.jpg") no-repeat center top;
    background-position: center center;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 300px;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#image3 {
     background: url("Image/Picture_3.jpg") no-repeat center top;
     background-position: center center;
     padding-top: 25px;
     padding-bottom: 25px;
     min-height: 300px;
     width: 100%;
     background-size: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

#image4 {
    background: url("Image/Picture_4.jpg") no-repeat center top;
    background-position: center center;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 300px;
    width: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gray {
    background-color: rgb(244, 244, 244);
}

ul {
    list-style-type: none;
}

ul li {
    font-family: 'Times New Roman';
    font-style: normal;
    font-size: 14px;
    text-align: center;
}